{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
 <h2>information sur le véhicule</h2>
    <div class="container">
        {{ form(form) }}
    </div>

{% endblock %}