{% extends 'base.html.twig' %}

{% block title %}Hello VehiculController!{% endblock %}

{% block body %}

    <div class="container">
        {% if is_granted('ROLE_USER') %}
            {{ form(form) }}
        {% endif %}
    </div>


{% endblock %}