{% extends 'base.html.twig' %}

{% block title %}Hello VehiculController!{% endblock %}

{% block body %}


    <h1>Modifier</h1>
    <div class="container">
        {{ form(form) }}
    </div>


{% endblock %}